<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <div>
        <p class="mb-0"><%= task.content %></p>
      </div>
      <div>
        <% if current_user == task.user %>
          <p class="mb-0"><%= link_to "削除", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %></p>
        <% end %>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>